@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

@font-face {
    font-family: myFirstFont;
    src: url(Rundkursiv.ttf);
}
  
#logoName{
    font-family: myFirstFont;
}


@tailwind base;
@tailwind components;
@tailwind utilities;